{
  "build": {
    "command": "pnpm run build",
    "outputDir": "dist"
  },
  "projectId": "YOUR_PROJECT_ID",
  "kind": "frontends",
  "defaultEnvironment": "production",
  "environments": {
    "production": {
      "id": "YOUR_FRONTEND_ID",
      "name": "syntro"
    }
  }
}
